//- .divider.hide-on-med-and-down
//- footer.page-footer.white.hide-on-med-and-down
//- .divider
footer.page-footer.blue-grey.darken-4
    .container
        h4.header.light.blue-grey-text.text-lighten-1 Ordnance Factory Ambajhari
        p.light.blue-grey-text Nagpur
    //- .footer-copyright
        .container
            a(href="http://root-kings.github.io") Designed by R00t
