.navbar-fixed
    nav.blue-grey.darken-4
        .nav-wrapper
            a.blue-grey-text.text-lighten-3(data-target="slide-out" href="#").sidenav-trigger
                i.material-icons menu
            a.blue-grey-text.text-lighten-3.brand-logo(href="/") Ayudh

            ul.right.hide-on-med-and-down
                li
                    a.blue-grey-text.text-lighten-3(href="/") Home

                li
                    a.blue-grey-text.text-lighten-3(href="/about") About


ul#slide-out.sidenav
    li
        a(href="/") Home
            i.material-icons.left home
    li
        a(href="/about") About
            i.material-icons.left info
