extends components/layout.pug

block styles
    link(rel="stylesheet", href="/css/chat.css")
block content
    h3.center.blue-grey-text.text-darken-4 Hello!

    .messages#messages
        ul
            li.message(v-for="message in messages" v-bind:class="{'from right-align': message.from == 'machine', 'to': message.from == 'user'}")
                span(v-bind:class="{'blue white-text': message.from == 'machine', 'white black-text': message.from == 'user'}") {{ message.text }}
    
        
        
        
        #docmodal.modal
            .modal-content
                
                h3 {{doc.name}}
                p {{doc.format}} - {{moment(doc.dateCreated).format('DD MMM YYYY | hh:mm')}}
            
                .row
                    h6.light.col.s12 # {{ doc._id }}

                    p.col.s12
                        a.btn.purple(:href="doc.fileUrl", target="_blank") View
                            i.material-icons.left visibility


                    h6.col.s8 Current status: {{ doc.rejected ? "Rejected": doc.done ? "Done" : "Pending"}}


                    h6.col.s12 Applicant: {{ doc.applicant.name }}
                    h6.col.s12 Current Passing Officer: {{ doc.currentOfficer.name }}

                //- .row(v-if="passingOfficerLoggedIn")
                //- .row
                    p.col.s6.m3
                        button.btn.full-width.green( :disabled="doc.done || doc.approved || doc.rejected", @click="approveDocument(doc._id)" ) Approve
                            //- i.material-icons.left done
                            //- @click="approveDocument",
                    p.col.s6.m3
                        a.btn.full-width.orange( :disabled="doc.done || doc.rejected || !doc.approved", @click="forwardDocumentModalOpen(doc._id)" ) Forward
                            //- i.material-icons.left done
                            //- @click="forwardDocument",
                    p.col.s6.m3
                        button.btn.full-width.blue( :disabled="doc.done || doc.rejected || !doc.approved", @click="finalizeDocument(doc._id)" ) Done
                            //- i.material-icons.left done
                            //- @click="finalizeDocument",
                    p.col.s6.m3
                        button.btn.full-width.red( :disabled="doc.done || doc.approved || doc.rejected", @click="rejectDocument(doc._id)" ) Reject
                            //- i.material-icons.left close
                            //- @click="rejectDocument",
                .row    
                    h6.light.col.s12 History of Officers: 
                    .col.s12
                        ul.collection.history
                            li.collection-item.avatar(v-for="historyItem in doc.history")
                                i.material-icons.circle.green(v-if="historyItem.action == 'Approved'") done
                                i.material-icons.circle.red(v-else-if="historyItem.action == 'Rejected'") close
                                i.material-icons.circle.yellow(v-else-if="historyItem.action == 'Forwared'") forward
                                i.material-icons.circle.blue(v-else="historyItem.action == 'Finalized'") done_all
                                span.title {{ historyItem.officer.name }}
                                p {{ historyItem.action }} - {{ moment(historyItem.date).format('DD MMM YYYY') }}


        //- #messagemodal.modal
            .modal-content
                .container    
                    .row
                    form.col.s12
                        .row
                        .input-field.col.s6
                            input#first_name.validate(type='text')
                            label(for='first_name') First Name
                        .input-field.col.s6
                            input#last_name.validate(type='text')
                            label(for='last_name') Last Name
                        .input-field.col.s12
                            input#password.validate(type='password')
                            label(for='password') Password
                        .input-field.col.s12
                            input#email.validate(type='text')
                            label(for='email') Leave Reason


block scripts
    script(src="/js/init/index.js")
